:root{
    --cor0: #EBEEF2;
    --cor1: #111C26;
    --cor2: #516D73;
    --cor3: #8AA1A6;
    --cor4: #F23535;
    --cor5: #731919;
    --cor6: #1C71A6;
    --cor7: #1DA0F2;
    --cor8: #03A631;/*evitar*/

}