@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;800&display=swap');

:root{
    --cor0: #010712;
    --cor1: #13171F;
    --cor2: #1C1F26;
    --cor3: #363944;
    --cor4: #961227;

    --fonte_padrao: 'M PLUS Rounded 1c', sans-serif;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: var(--cor3);
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor4);
}


body{
    font-family: var(--fonte_padrao);
    text-align: justify;
    text-indent: 10px;
}